* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    /* background: #fffafa; */
    background: linear-gradient(#2371ad, #f779de, #3e0787 );
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#whale1 {
    display: none;
}

#whale2 {
    display: none;
}

#whale3 {
    display: none;
}